/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top left, #0a5, #252);
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #00bcd4;
}

*{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

#titre h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 100px;
}

.titre {
    display: flex;
    justify-content: center;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background: linear-gradient(to top right, #0ca, #156);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: transform 0.2s, background-color 0.2s;
}

.content:hover {
  transform: scale(1.1);
}

.content img {
  border-radius: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content video {
  padding: 5px;
  height: 121px;
  width: 225px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 15px 15px;
  background: linear-gradient(to top right, #095, #156);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
  background: linear-gradient(to top right, #0ca, #156);
  transform: scale(1.1);
}

.btn.active {
  background: linear-gradient(to top right, #0ca, #156);
  color: white;
  scale: 1.1;
  padding: 20px 20px;
  margin: 5px;
}


section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}