body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #203, #053);
    color: #fff;
    overflow-x: hidden;
    background-size: cover; /* Ajuste le fond pour couvrir toute la page */
    background-repeat: no-repeat; /* Empêche la répétition du fond */
    background-attachment: fixed; /* Fixe le fond même si la page est petite */
}

html, body {
    min-height: 100vh; /* Assure que la page fait au moins la hauteur de l'écran */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #00bcd4;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 5rem 1rem;
}

.container img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.container p {
    font-size: 1.2rem;
    color: #aaa;
}

section {
    padding: 5rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

section img, section video {
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
